.nav {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  border-top: 2px solid #dde5e9;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.nav__item:nth-child(2) {
  margin-right: 70px;
}

.nav__item i {
  color: #ccd2d3;
}
.nav__list .nav__item--center {
  background-color: #00bfc5;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  top: -25px;
  color: white;
  position: absolute;
  box-shadow: 0 13px 27px -5px rgba(1, 117, 121, 0.25),
    0 8px 16px -8px rgba(7, 128, 133, 0.3),
    0 -6px 16px -6px rgba(0, 44, 46, 0.025);
}
